<div class="mapboxgl-popup-content">
  <h2><%= activity.name %></h2>

  <div class="photo-popup">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= cl_image_tag photo_url(activity.photos[0]), alt: "Photo activité 1", width: 600, height: 400, crop: :fill %>
        </div>
        <div class="carousel-item">
          <%= cl_image_tag photo_url(activity.photos[1]), alt: "Photo activité 2", width: 600, height: 400, crop: :fill %>
        </div>
        <div class="carousel-item">
          <%= cl_image_tag photo_url(activity.photos[2]), alt: "Photo activité 3", width: 600, height: 400, crop: :fill %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="popup-content">
  <h2><%= activity.localisation %></h2>
  <h3> Prix : A partir de <%= activity.fee %> €</h3>
  <p><%= activity.content %></p>
  <div><%= link_to("Ajouter à ma feuille de route", trip_selected_activities_path(@trip, activity_id: activity.id), method: :post, remote: true, class: "btn-add", style: "text-decoration: none") %></div>
  </div>
</div>
