<div class="main-container">
<%= render 'shared/navbar' %>
<div class="container-map">
  <div class="roadsheet">
    <h2>Feuille de route</h2>
      <div id="day_0">
        Sélectionnez vos activités et déplacez-les dans la feuille de route
        <% @trip.selected_activities.where(pending: true).each do |selected_activity| %>
          <div class='activity-list'>
            <div>
              <%= selected_activity.activity.name %>
            </div>
             <div>
               <%= simple_form_for selected_activity do |f| %>
               <div class="d-none">
                 <%= f.input :day_id, collection: @trip.days %>
               </div>
               <%= f.submit "OK", class: "btn-update-selected-activity d-none" %>
               <% end %>
             </div>
            </div>
        <% end %>
      </div>
      <div>
        <% @trip.days.each do |day| %>
        <h3> <%= day.to_s.capitalize %></h3>
        <div id="day_<%= day.position %>" data-day-id="<%= day.id %>">
          <% day.selected_activities.where(pending: false).each do |selected_activity| %>
            <div class='activity-list'>
              <div>
              <%= selected_activity.activity.name %>
              </div>
              <div>
                <%= simple_form_for selected_activity do |f| %>
                <div class="d-none">
                  <%= f.input :day_id, collection: @trip.days %>
                </div>
                <%= f.submit "OK", class: "btn-update-selected-activity d-none" %>
                <% end %>
              </div>
            </div>
          <% end %>

        </div>
        <% end %>
      </div>
<!--       <div class="btn-valid-trip" id="valider-trip" data-url="<%= trip_url(@trip.id) %>">Valider trip</div>
 -->  <div class= "roadsheet-flex">
        <div class="roadsheet-btn" >
          <%= link_to "Valider trip", trip_path(@trip), class: "btn-valid-trip", style: "text-decoration: none" %> </div>
        </div>
      </div>

  <div id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

      <div id="legend">
      <h4><%= image_tag "picto_hebergement.png", width: 25 %> Hébergement</h4>
      <h4><%= image_tag "picto_alimentation.png", width: 25 %> Alimentation</h4>
      <h4><%= image_tag "picto_diurne.png", width: 25 %> Sortie en journée</h4>
      <h4><%= image_tag "picto_nocturne.png", width: 25 %> Sortie en soirée</h4>
      </div>

    <div id="info-popup" class="d-none">
      <div class="btn-quit">x</div>
      <div class="infos"></div>
    </div>
  </div>

  <%#= yield :page_scripts %>
  <%# content_for :head do %>
    <%#= javascript_pack_tag "mapbox", 'data-turbolinks-track': 'reload', defer: true  %>
  <%# end %>

</div>
</div>
