
<div class="container-map">
  <div class="roadsheet">
    <h1>Feuille de route</h1>
      <div id="stock-zone">
        <ul>
        </ul>
      </div>
      <% if @days_number ==  1 %>
        <div id="day-one">Jour 1</div>

      <% elsif @days_number == 2 %>
        <div id="day-one">Jour 1</div>
        <div id="day-two">Jour 2</div>
      <% else @days_number == 3 %>
        <div id="day-one">Jour 1</div>
        <div id="day-two">Jour 2</div>
        <div id="day-three">Jour 3</div>
      <% end %>
    </div>
    <div class="btn-primary" id="valider-trip">Valider trip</div>



  <div id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

    <div class="legend-ctnr">
      <div id="legend">
      <h4><%= image_tag "picto_hebergement.png", width: 25 %> Hébergement</h4>
      <h4><%= image_tag "picto_alimentation.png", width: 25 %> Alimentation</h4>
      <h4><%= image_tag "picto_diurne.png", width: 25 %> Sortie en journée</h4>
      <h4><%= image_tag "picto_nocturne.png", width: 25 %> Sortie en soirée</h4>
      </div>
    </div>

    <div id="info-popup" class="d-none">
      <div class="btn-quit">x</div>
      <div class="infos"></div>
    </div>
  </div>
</div>

<%= yield :page_scripts %>
<% content_for :head do %>
  <%= javascript_pack_tag "mapbox", 'data-turbolinks-track': 'reload', defer: true  %>
<% end %>

