<div class="main-container">
  <%= render 'shared/navbar' %>
  <div class="trips_index">
    <div class="trips-main">
      <h1>Mes Voyages</h1>
      <div class="row">
        <% @trips.each do |trip| %>
        <div class="col-6">
          <div class="card-trip">
            <%= image_tag Trip.random_image %>
            <div class="card-trip-details">
            </div>
            <div class="card-trip-infos">
              <h2 class="name"><%= trip.address %></h2>
              <div class="trip-link">
                <p> Start : <%= trip.start_date %></p>
                <p> End : <%= trip.end_date %></p>
              </div>
            </div>
            <div class="card-button">
              <p><%= link_to "Voir mon voyage",  trip_path(trip), class: "btn btn-primary btn-sm" %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <%#= link_to "Page d'accueil",  root_path, class: "btn btn-primary"  %>
    </div>
  </div>
</div>
