<div class="header">
  <nav class="navigation">
    <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo-beige.png" %>
    <% end %>
    <div class="navbar-right">
      <% if user_signed_in? %>
        <%= link_to "Mon prochain voyage", new_search_path %>
        <%= link_to "Nos valeurs", "/pages/charte" %>
        <%= link_to "Notre équipe", "/pages/team" %>
        <%= link_to "Contact", "/pages/contact" %>
        <li class="nav-item dropdown">
          <%= image_tag "tata_murielle.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Mes voyages", "", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </div>
  </nav>
  <div class="video-container" id="video">
      <%= video_tag "video1.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
  </div>
</div>
