<%= render 'shared/navbar' %>

<div class="team">

<div class="team-main">

  <h1>Team Curly</h1>

  <div class="row team-container">

   <div class="col-6">
      <div class="card-team">
        <%= image_tag "pierre.png", alt: "alttext", :class => "logo_footer" %>
          <div class="card-team-infos">

          <div class="name">
            <h2>Pierre Deveix</h2>
          </div>
          <div class="team-links">
          <div><p>Local Daddy</p></div>
           <div> <a href="#"><i class="fas fa-envelope-square"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
            </div>
            </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card-team">
        <%= image_tag "jeremy.png", alt: "alttext", :class => "logo_footer" %>
          <div class="card-team-infos">

          <div class="name">
            <h2>Jérémy Glize</h2>
          </div>
          <div class="team-links">
          <div><p>Aventurier Confirmé</p></div>
           <div> <a href="#"><i class="fas fa-envelope-square"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
            </div>
            </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card-team">
        <%= image_tag "chloe.png", alt: "alttext", :class => "logo_footer" %>
          <div class="card-team-infos">

          <div class="name">
            <h2>Chloé Housseau</h2>
          </div>
          <div class="team-links">
          <div><p>Chargée d'Épicurisme</p></div>
           <div> <a href="#"><i class="fas fa-envelope-square"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
            </div>
            </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card-team">
        <%= image_tag "amelie.png", alt: "alttext", :class => "logo_footer" %>
          <div class="card-team-infos">

          <div class="name">
            <h2>Amélie Pol</h2>
          </div>
          <div class="team-links">
          <div><p>CEO de la Détente</p></div>
           <div> <a href="#"><i class="fas fa-envelope-square"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
            </div>
            </div>
      </div>
    </div>
  </div>
</div>
</div>

