<div class="background-image" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://res.cloudinary.com/dwekobmrk/image/upload/v1599208035/luke-shaffer-IdvCZnN9vfQ-unsplash_x7gzcc.jpg
)">


<%= render 'shared/navbar' %>

  <div class="search-container">

      <div class="row form-post">
        <%= simple_form_for @search, url: trips_path, method: :post,
        wrapper_mappings: {
          radio_buttons:    :vertical_collection_inline,
        }  do |f| %>
        <div class="col-12">
         <h1> Quel voyageur êtes-vous? </h1>
            <div class="activity-choices">
              <% @moods.each do | mood |  %>
              <input type="radio" hidden class="mood-choice" value="<%= mood[0] %>" name="search[mood]" id="post_mood_ids_<%= mood[1] %>">
              <label for="post_mood_ids_<%= mood[1] %>" class="mood-choice">
                <%= mood[0] %>
              </label>
              <% end %>
            </div>
        </div>

        <div class="col-12">
         <h2> Quel est votre budget? </h2>
            <div class="activity-choices">
              <% @budgets.each do | budget |  %>
              <input type="radio" hidden class="budget-choice" value="<%= budget[0] %>" name="search[budget]" id="post_budget_ids_<%= budget[1] %>">
              <label for="post_budget_ids_<%= budget[1] %>" class="budget-choice">
                <%= budget[0] %>
              </label>
              <% end %>
            </div>
        </div>

      <div class="col-12">
         <h2> Combien de jours souhaitez-vous partir? </h2>
            <div class="activity-choices">
              <% 3.times do | day |  %>
              <% newday = day + 1 %>
              <input type="radio" hidden class="day-choice" value="<%= newday %>" name="search[days_number]" id="post_day_ids_<%= newday %>">
              <label for="post_day_ids_<%= newday %>" class="day-choice">
                <%= newday %>
              </label>
              <% end %>
            </div>
        </div>

        <div class="col-12 btn">
            <h2>D'où partez-vous?</h2>

          <div  class="activity-choices">
         <%= f.input :address, collection: Search.addresses, label: false, input_html: { class: 'select2' } %>

         <ul id="list-address">
         </ul>
         </div>
       </div>

       <div class="col-12">
         <h2> A quelle distance autour de chez vous? </h2>
            <div class="activity-choices">
              <% @radiuses.each do | radius |  %>
              <input type="radio" hidden class="distance-choice" value="<%= radius[0] %>" name="search[radius]" id="post_radius_ids_<%= radius[1] %>">
                <label for="post_radius_ids_<%= radius[1] %>" class="distance-choice">
                  <%= radius[0] %>
                </label>
              <% end %>
            </div>
        </div>


        <div class="col-12 btn">
          <h2>Quand souhaitez-vous partir?</h2>
          <%= f.input :start_date, as: :string, required: false, label: false, input_html: { id: "date_start" } %>
        </div>


      <%= f.button :submit, 'Validez mon voyage', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

<!-- <%# content_for :head do %>
  <%#= javascript_pack_tag "autocomplete", 'data-turbolinks-track': 'reload', defer: true  %>
  <%# end %> -->




